name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Install edgee
        uses: edgee-cloud/install-edgee-cli@v0.1.0

      - name: Build
        run: |
          edgee components build

      - name: Verify .wasm file exists
        run: |
          if [ ! -f "./example-ts-component.wasm" ]; then
            echo "âŒ Error: example-ts-component.wasm not found" >&2
            exit 1
          fi

      - name: Run tests
        run: npm test
